{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "oh-my-openagent@latest",
    "superpowers@git+https://github.com/obra/superpowers.git"
  ],
  "provider": {
    "zhipu": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "智谱 AI",
      "options": {
        "baseURL": "https://open.bigmodel.cn/api/paas/v4",
        "apiKey": "PASTE_YOUR_API_KEY_HERE"
      },
      "models": {
        "glm-4.6v-flash": {
          "name": "GLM-4.6V-Flash（免费多模态·可看图）",
          "limit": {
            "context": 128000,
            "output": 32768
          }
        },
        "glm-4.7-flash": {
          "name": "GLM-4.7-Flash（免费语言）",
          "limit": {
            "context": 200000,
            "output": 131072
          }
        }
      }
    },
    "agnes": {
      "name": "agnes",
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://apihub.agnes-ai.com/v1"
      },
      "models": {
        "agnes-2.0-flash": {
          "name": "agnes-2.0-flash"
        }
      }
    }
  },
  "disabled_providers": [
    "zhipu"
  ]
}
